<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">BSc. Project : <i>Simulation of moiré effects for counterfeit prevention</i></a></strong>
			<br>
			- The EPFL and startup Innoview Sàrl have developed counterfeit prevention features
			for multiple purposes. The current project aims at simulating moiré effects that are
			used for thus counterfeit prevention.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/samdubuis/cs433-ml/tree/master/projects/project1">
				AICrowd.com project : <i>Finding the Higgs Boson</i></a></strong>
			<br>
			- This project presents a machine learning model to
			detect the presence of the Higg’s boson in an experiment done
			by the CERN. Based on a dataset, we develop a ridge regression
			model to predict whether or not the production of a Higg’s boson
			has been done.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href=
				"https://github.com/samdubuis/cs433-ml/tree/master/projects/project2/project_recommender_system">
				AICrowd.com project : <i>Recommender system</i></a></strong>
			- This project presents a machine learning model that
			aims to predict item recommendations to a database of users.
			Based on the ratings of several items on a scale from 1 to
			5 (no additional information about the movies or users), we
			combine different prediction algorithms in order to guess such
			recommendations.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/samdubuis/pdc-project">Data over Sound</a></strong>
			- Develop a proof of concept to show that we can exchange files "over the air" 
			between two laptops, by using the speaker of one laptop as the transmitting 
			device and the microphone of the other laptop as the receiving device in presence 
			of an <i>interfering</i> third party.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/MarcBickel/project_gobigorgohome">Data Science for good</a></strong>
			- Do you buy healthy ? Nowadays, there exists a myriad of products, examples of an ever-growing consumption regime. 
			Furthermore, the convenience of accessing such items is only a few clicks away for most of us. In this project, we ground our reasoning 
			on the consumer's point of view in today's world. Our starting point will be the Open Food Facts dataset, from which we will extract data on 
			several different food products.
			- <a href="https://marcbickel.github.io/project_gobigorgohome/">Link</a> to the data story.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://simbaforkids.ch">SimbaForkids website</a></strong>
			- Website creation from scratch for a caritative association based in Geneva, Switzerland.
		</h5>


    </div>
  </div>
</div>
</section>
