<section id="projects">
<div class="container">
  <h1>Projects timeline</h1>
  <div class="panel panel-default">
    <div class="panel-body">
		Under construction ...
		<br>
		<h2>Main projects</h2>
		<h5>- <a href="#ma-semester-project"><i>MSc. semester project at EPFL : GAN-based Finger Vein Image Augmentation for Biometric Authentication</i> </a></h5>
		<h5>- <a href="#bsc-project">BSc. project at EPFL : <i>Simulation of moiré effects for counterfeit prevention</i></a></h5>
		<h5>- <a href="#comp-photo"><i>Multiple Generative Adversarial Networks Analysis for Predicting Photographers' Retouching</i></a></h5>
		<h5>- <a href="#ml-recommender"><i>Recommender system</i></a></h5>
		<h5>- <a href="#ada"><i>Data Science for good</i> </a></h5>

		<br>

		<h3>2020</h3>

		<h5>
			<i class="fa fa-sitemap"></i>&nbsp;&nbsp;<strong><a name="ma-semester-project" href="#">
				MSc. semester project at EPFL <i>GAN-based Finger Vein Image Augmentation for Biometric Authentication</i></a></strong>
			<br>
			- Anyone can take a photo, but not everybody has the ability
			to retouch their pictures and obtain result close to professional. Since
			it is not possible to ask experts to retouch thousands of pictures, we
			thought about teaching a piece of software how to reproduce the work of
			those said experts. This study aims to explore the possibility to use deep
			learning methods and more specifically, generative adversarial networks
			(GANs), to mimic artists’ retouching and find which one of the studied
			models provides the best results.
			<br>
		</h5>

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a name="comp-photo" href="https://github.com/samdubuis/CS-413">
				<i>Multiple Generative Adversarial Networks analysis for predicting photographer’s retouching</i> -	CS-413 course at EPFL</a></strong>
			<br>
			- Startup Company “Global ID” has developed a 3D finger vein
			biometric identification system. To improve and verify the performance of their
			biometric identification system, they have to get a large number of the finger vein
			images in person. However it is very cumbersome, time consuming, and labor
			intensive to collect a large-scale dataset from subjective experiments. To address
			that, in this project, we will generate a large number of finger vein images from a
			small number of the real finger vein images using deep generative model. For this
			purpose, we will study the generative adversarial network (GANs). Furthermore,
			we will design a GAN-based data augmentation algorithm for synthesizing realistic
			finger vein images.
			<br>
			- Dataset found <a href="https://data.csail.mit.edu/graphics/fivek/">here</a><br>
			- Paper on ArXiv <a href="https://arxiv.org/abs/2006.02921">here</a>
		</h5>

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a name="dl2" href="https://github.com/samdubuis/ee559-deeplearning/tree/master/Proj2">
				<i>Mini deep learning framework</i> - EE-559 course at EPFL</a></strong>
			<br>
			- The objective of this project was to recreate a miniature deep learning framework, using only the basic tensor object of Pytorch and the standard math library.
		</h5>

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a name="dl1" href="https://github.com/samdubuis/ee559-deeplearning/tree/master/Proj1">
				<i>Classification, weight sharing, auxiliary losses</i> - EE-559 course at EPFL</a></strong>
			<br>
			- The goal of this project is to create a convolutional network capable of telling if the number on an image is smaller
			than the number on another image and see the impact of using weight sharing and auxiliary loss. To do this we were given
			a dataset of a thousand pairs of images.
		</h5>

		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.epfl.ch/education/phd/programs/">Doctoral programs websites</a></strong>
			<br>
			- Student job where I was tasked with creating and refactoring 21 WordPress instances for the Doctoral Studies at EPFL, as previously all of them were a single website
			that was unmanaged and quite messy.
		</h5>
		
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.fix-the-leaky-pipeline.ch">Fix-the-the-leaky-pipeline website</a></strong>
			<br>
			- Website migration from EPFL servers to Infomaniak, plus retouching and support.
		</h5>
		<br>



		<h3>2019</h3>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/samdubuis/cs433-ml/tree/master/projects/project1">
				<i>Finding the Higgs Boson</i> - CS-433 at EPFL</a></strong>
			<br>
			- This project presents a machine learning model to
			detect the presence of the Higg’s boson in an experiment done
			by the CERN. Based on a dataset, we develop a ridge regression
			model to predict whether or not the production of a Higg’s boson
			has been done.
		</h5>

    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a name="ml-recommender" href="https://github.com/samdubuis/cs433-ml/tree/master/projects/project2/project_recommender_system">
				<i>Recommender system</i> - CS-433 at EPFL</a></strong>
			<br>
			- This project presents a machine learning model that
			aims to predict item recommendations to a database of users.
			Based on the ratings of several items on a scale from 1 to
			5 (no additional information about the movies or users), we
			combine different prediction algorithms in order to guess such
			recommendations.
		</h5>

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a name="ada" href="https://github.com/MarcBickel/project_gobigorgohome">
				<i>Data Science for good</i> - CS-401 at EPFL</a></strong>
			<br>
			- Do you buy healthy ? Nowadays, there exists a myriad of products, examples of an ever-growing consumption regime. 
			Furthermore, the convenience of accessing such items is only a few clicks away for most of us. In this project, we ground our reasoning 
			on the consumer's point of view in today's world. Our starting point will be the Open Food Facts dataset, from which we will extract data on 
			several different food products.
			<br>
			- <a href="https://marcbickel.github.io/project_gobigorgohome/">Link</a> to the data story.
		</h5>

		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://simbaforkids.ch">SimbaForkids website</a></strong>
			<br>
			- Website creation from scratch for a caritative association based in Geneva, Switzerland.
		</h5>

		<br>




		<h3>2018</h3>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a name="bsc-project" href="#">BSc. Project : <i>Simulation of moiré effects for counterfeit prevention</i></a></strong>
			<br>
			- The EPFL and startup Innoview Sàrl have developed counterfeit prevention features
			for multiple purposes. The current project aims at simulating moiré effects that are
			used for thus counterfeit prevention. The project is for now confidential, and as such
			no link are available for code or documentation.
			<br>	
			- <a href="https://actu.epfl.ch/news/harnessing-the-moire-effect-to-make-transparent-im/">Link</a> to the article written by the EPFL that concerned the full project
			in which I participated for the simulations.
		</h5>

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/samdubuis/pdc-project">
				<i>Data over Sound</i> - COM-302 at EPFL</a></strong>
			<br>
			- Develop a proof of concept to show that we can exchange files "over the air" 
			between two laptops, by using the speaker of one laptop as the transmitting 
			device and the microphone of the other laptop as the receiving device in presence 
			of an <i>interfering</i> third party.
		</h5>

		
		<br>
		<h3>Miscellaneous</h3>
		<!-- <h5>
			<i class="fa fa-file"></i>&nbsp;&nbsp;<strong><a href="https://github.com/samdubuis/cv-english/tree/master/sidebar">English personnal CV written in LaTeX</a></strong>
			<br>
			- <a href="https://github.com/samdubuis/cv-english/blob/master/sidebar/main.pdf">PDF</a> 
		</h5> -->

		<h5>
			<i class="fa fa-cube"></i>&nbsp;&nbsp;<strong><a href="https://github.com/samdubuis/blender-projects">Blender repository</a></strong>
			<br>
			- This is a repository hosted on Github that contains the different simulations and renders I made throughout the year. I first started to use Blender 
			seriously for my <a href="#bsc-project">bachelor project</a> then when new update of the software came out I'd try out again and learn what was new to stay <up-to-date></up-to-date>.
		</h5>


    </div>
  </div>
</div>
</section>
